<div class="add">
  <h2>Add your people to your group</h2>
  <form action="/pupil/add" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="surname" placeholder="Surname" />
    <input type="text" name="number" placeholder="Number" />
    <input type="text" name="group" placeholder="group" />
    <input type="text" name="month" placeholder="month" />
    <input type="text" name="score" placeholder="score" />
    <button type="submit" class="btn_add">Add</button>
  </form>
</div>